@use 'variables' as *;

body {
    background: url('/path/to/your/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: $bg-color;
}

.scroll-to-top, .whatsapp-link {
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    background-color: rgba(30, 37, 176, 0.249);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    border: 2px solid $primary-color; // Borda verde

    &:hover {
        transform: scale(1.2);
        background-color: $accent-color;
        color: $title-primary;
    }
}

.scroll-to-top {
    bottom: 50px;
}

.whatsapp-link {
    bottom: 120px;
    color: #25D366; // Cor verde do ícone do WhatsApp
    border: 2px solid #25D366; // Borda verde do WhatsApp
    align-items: center;

    &:hover {
        background-color: #25D366; // Fundo verde do WhatsApp ao passar o mouse
        color: white;
        border-radius: 50%;
    }
}


#sobre, #skills {
    padding-bottom: 10px;
    background-color: $bg-color; // Fundo semi-transparente para destacar o conteúdo
    font-family: $font-primary;

    .container-title {
        text-align: center;
        font-size: 2.5rem;
        color: $title-primary;
        font-weight: bold;
        justify-content: space-between;
        margin-right: 400px;
        margin-top: 100px;
    }

    .subtitle {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        color: $text-color-secondary;
        margin-bottom: 2rem;
        margin-right: 400px;
    }

    .row {
        display: flex;
        text-align: center;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;

    }

    .profile-photo {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        object-fit: cover;
        margin-bottom: 24px;
        padding: 10px;
        border: 2px solid $title-primary;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        a {
            font-size: 1.8rem;
            color: $title-primary;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                color: $accent-color;
            }
        }
    }

    .text-content {
        flex: 1; 
        text-align: center;
        margin-right: 200px;
        font-family: $font-primary;
        p {
            font-size: 1.1rem;
            color: $text-color-primary;
            line-height: 1.6;

            span {
                color: $primary-color;
                font-weight: bold;
            }
        }
    }
}

.name {
    color: $title-primary;
    font-weight: bold;
    font-family: $font-primary;
    font-size: 30px;
}

#habilidades {
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 1rem;
        justify-items: center;
        padding-bottom: 50px;

        .skill-card {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 50%;
            box-shadow: 0 5px 15px rgb(16, 30, 93);
            transition: transform 0.3s ease-in-out;
            background: $secondary-color;
            text-decoration: none;
            color: $title-primary;

            &:hover {
                transform: translateY(-5px);
                background: $accent-color;
            }

            i, img {
                font-size: 2.5rem;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }

    .container-title {
        font-size: 40px;
        margin-bottom: 100px;
        text-align: center;
        margin-left: 30px;
        padding-top: 150px;
        font-family: $font-primary;
        color: $title-primary;
    }
}

