/* Layout do Contato */
.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #e4edeef6; /* Cor de fundo */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding: 30px 10px;
        margin-top: 0;
    }
}

/* Título */
.container-title {
    font-size: 48px;
    font-family: 'Kaushan Script', cursive; /* Fonte do título */
    font-weight: bold;
    color: #244484; /* Cor do título */
    margin-bottom: 18px;
    z-index: 2;
    margin-left: 500px;

    @media (max-width: 768px) {
        font-size: 36px;
        margin-bottom: 12px;
        margin-left: 100px;
        text-align: center;
    }
}

/* Subtítulo */
.subtitle {
    font-size: 28px;
    color: #959da2; /* Cor do subtítulo */
    margin-bottom: 82px;
    font-family: 'Kaushan Script', cursive;
    z-index: 2;
    margin-left: 400px;

    @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 60px;
        margin-left: 40px;
        text-align: center;
    }
}

/* Layout do conteúdo do contato (formulário e informações) */
.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
    margin-top: 8px;

    /* Responsividade */
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos do Formulário */
.contact-form-container {
    width: 100%;
    max-width: 500px;
    padding: 16px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    position: relative;
    z-index: 1;

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 16px; /* Espaçamento ajustado */
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 14px;
        color: #10253b; /* Cor do texto */
        margin-bottom: 8px;
        font-weight: 600;
    }

    input, textarea {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #333;
        border-radius: 6px;
        margin-bottom: 8px;
        width: 100%;
        background-color: #fff;
        color: #10253b;
        transition: border-color 0.3s ease;
        resize: none;

        &:focus {
            border-color: #4c6893; /* Cor do foco */
            outline: none;
        }

        &::placeholder {
            color: #a6c4de; /* Cor do placeholder */
        }
    }

    button {
        padding: 12px 18px;
        background-color: #4c6893; /* Cor do botão */
        color: white;
        font-family: 'Kaushan Script', cursive;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.3s;
        width: 100%;
        z-index: 2;

        &:hover {
            background-color: #395a7a; /* Cor do hover */
            transform: translateY(-2px);
        }
    }
}

/* Estilos para Foto de Contato */
.contact-info-container {
    width: 100%;
    max-width: 400px;
    text-align: center;

    .contato-photo-container {
        margin-bottom: 16px;

        .contact-photo {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border: 4px solid white;

            @media (max-width: 768px) {
                width: 150px;
                height: 150px;
            }
        }
    }

    .contact-address {
        h3 {
            font-size: 20px;
            color: #4c6893; /* Cor do título */
            margin-bottom: 8px;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        p {
            font-size: 16px;
            color: #10253b; /* Cor do texto */
            margin-bottom: 32px;

            @media (max-width: 768px) {
                font-size: 14px;
                margin-bottom: 24px;
            }
        }

        .map-container iframe {
            width: 100%;
            height: 200px;
            border: none;
            border-radius: 10px;

            @media (max-width: 768px) {
                height: 150px;
            }
        }
    }
}

/* Estilos para o rodapé */
.footer {
    background-color: #6c757d; /* Cor de fundo do rodapé */
    padding: 32px 0;
    color: #a6c4de; /* Cor do texto no rodapé */

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .footer-left p {
            font-size: 14px;
            color: #a6c4de;

            @media (max-width: 768px) {
                margin-bottom: 16px;
            }
        }

        .footer-right {
            .social-icons {
                display: flex;
                gap: 16px;

                a {
                    color: #a6c4de;
                    font-size: 18px;

                    &:hover {
                        color: #4c6893; /* Cor do hover */
                    }
                }
            }
        }
    }
}

/* Estilos para o tema escuro */
body.dark {
    .contact-section {
        background-color: #2f4664; /* Cor de fundo escura */
        color: #fff; /* Texto branco */
    }

    .container-title, .subtitle, .contact-form-container label, .contact-address h3, .contact-address p {
        color: #fff; /* Texto branco */
    }

    .contact-form-container {
        border: 1px solid #fff; /* Borda branca */

        input, textarea {
            background-color: #444; /* Fundo escuro */
            color: #fff; /* Texto branco */
            border: 1px solid #fff; /* Borda branca */

            &::placeholder {
                color: #ccc; /* Cor do placeholder */
            }

            &:focus {
                border-color: #4c6893; /* Cor do foco */
            }
        }

        button {
            background-color: #4c6893; /* Cor do botão */
            color: white;

            &:hover {
                background-color: #395a7a; /* Cor do hover */
            }
        }
    }

    .contact-info-container .contact-photo {
        border-color: #fff; /* Borda branca */
    }

    .footer {
        background-color: #2f4664; /* Cor de fundo do rodapé */
        color: #fff; /* Texto branco */

        .footer-left p, .footer-right .social-icons a {
            color: #fff; /* Texto branco */
        }
    }
}