@use 'variables' as *;

.portfolio-section {
    margin-bottom: 30px;
    padding-top: 50px;
    font-family: $font-primary;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        color: $text-color-primary;
        font-family: $font-primary;
        padding-bottom: 30px;
    }

    .portfolio-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        width: 300px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgb(16, 30, 93);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.3); // Expande o card inteiro
            z-index: 20;
        }

        .card-content {
            position: relative;
            width: 100%;
            height: 200px;
            

            .card-title {
                text-align: center;
                font-size: 16px; // Diminui o tamanho do texto
                color: $title-primary;
                padding-top: 10px;
            }

            .card-image {
                width: 100%;
                height: 100%;
                object-fit: contain; // Ajusta a imagem para cobrir o container sem distorcer
                object-position: center;
                transition: transform 0.3s ease-in-out;
            }
        }

        .card-icons, .like-button {
            display: flex;
            align-items: center;
            background-color: $bg-color; // Remove a transparência
            position: relative;
            margin: 13px;
        }

        .card-icons {
            justify-content: flex-start; // Alinha os ícones à esquerda
            z-index: -1;

            a {
                font-size: 20px;
                color: $primary-color;
                margin-right: 20px; // Espaçamento entre os ícones
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $accent-color;
                }
            }
        }

        .like-button {
            justify-content: flex-end; // Alinha o botão de curtidas à direita
            margin-left: auto;

            button {
                font-size: 1.5rem;
                color: $primary-color;
                background: none;
                border: none;
                cursor: pointer;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $accent-color;
                }
            }

            .like-count {
                margin-left: 10px;
                font-size: 1.2rem;
                color: $text-color-primary;
            }
        }
    }
}

.container-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: $title-primary;
    font-family: $font-primary;
    padding-top: 100px;
}