@use 'variables' as *;

.portfolio-section {
    margin-bottom: 30px;
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: $font-primary;
    text-align: center;
    position: relative;
    z-index: 1;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        color: $text-color-primary;
        font-family: $font-primary;
        padding-bottom: 30px;
        margin-right: 500px;

        @media (max-width: 768px) {
            margin-right: 0;
            text-align: center;
        }
    }

    .portfolio-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 cards por linha no desktop
        gap: 100px; // Espaçamento entre os cards

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr); // 2 cards por linha no tablet
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr; // 1 card por linha no mobile
        }
    }

    .card {
        width: 100%; // Ajusta a largura do card para o grid
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgb(16, 30, 93);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05); // Expande levemente o card ao passar o mouse
            z-index: 20;
            box-shadow: 0 12px 30px rgb(0, 0, 0, 0.3); // Aumenta a sombra ao passar o mouse
        }
        .card-content {
            position: relative;
            width: 100%;
            height: 200px;
            

            .card-title {
                text-align: center;
                font-size: 16px; // Diminui o tamanho do texto
                color: $title-primary;
                padding-top: 10px;
                margin-left: 0;
                margin-right: 0;
            }

            .card-image {
                width: 100%;
                height: 100%;
                object-fit: cover; // Ajusta a imagem para cobrir o container sem distorcer
                object-position: center;
                transition: transform 0.3s ease-in-out;
            }
        }

        .card-icons, .like-button {
            display: flex;
            align-items: center;
            background-color: transparent; 
            position: relative;
            margin: 13px;
        }

        .card-icons {
            justify-content: space-between; // Alinha os ícones à esquerda
            z-index: 1;

            a {
                font-size: 20px;
                color: $primary-color;
                transition: color 0.3s ease-in-out;
                margin-top: 30px;
                margin-left: 50px;
                margin-right: 50px;

                &:hover {
                    color: $accent-color;
                }
            }
        }

        .like-button {
            justify-content: flex-end; // Alinha o botão de curtidas à direita
            margin-left: auto;

            button {
                font-size: 1.5rem;
                color: $primary-color;
                background: none;
                border: none;
                cursor: pointer;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $accent-color;
                }
            }

            .like-count {
                margin-left: 10px;
                font-size: 1.2rem;
                color: $text-color-primary;
            }
        }
    }
}

.container-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: $title-primary;
    font-family: $font-primary;
    padding-top: 100px;
    margin-right: 100px;

    @media (max-width: 768px) {
        margin-right: 70px;
        text-align: center;
    }
}

// Estilos para o tema escuro
body.dark {
    .portfolio-section {
        background-color: #2f4664; // Fundo escuro para a seção de portfólio
        color: #fff; // Texto branco

        h2 {
            color: #fff; // Texto branco
        }

        .card {
            background-color: transparent; // Fundo escuro para os cards
            color: #fff; // Texto branco

            .card-content {
                .card-title {
                    color: #fff; // Texto branco
                }

                .card-image {
                    border-color: #fff;
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // Ajusta a imagem para cobrir o container sem distorcer
                    object-position: center;
                    transition: transform 0.3s ease-in-out;
                }
            }

            .card-icons {
                display: none;
                align-items: center;
                background-color: transparent; 
                position: relative;
                margin: 13px;

                a {
                    font-size: 20px;
                    background-color: transparent;
                    color: $primary-color;
                    margin-right: 20px; // Espaçamento entre os ícones
                    transition: color 0.3s ease-in-out;
                    margin-top: 30px;
                    margin-left: 50px;
                    margin-right: 50px;

                    &:hover {
                        color: #4c6893; // Cor do hover
                    }
                }
            }
        }
    }

    .container-title {
        color: #fff; // Texto branco
    }
}