$font-primary: 'Kaushan Script', cursive;
$color-primary: #333;
$color-secondary: #959da2;
$bg-color: #e4edeef6;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$padding-x: 20px;
$padding-y: 50px;
$text-color-primary: #10253b;
$text-color-secondary: #a6c4de;

// Paleta de cores
$primary-color:  #4c6893;; // Roxo principal
$secondary-color: #959da2; // Cor de fundo secundária
$accent-color: #77a9b8; // Laranja para destaque
$background-primary:  #6c757d; // Fundo principal (dark mode)
$background-secondary: #9fbfe9; // Fundo secundário (dark mode)
$text-color-primary: #1c1818; // Texto principal claro
$text-color-secondary: #0b0909; // Texto secundário
$border-color: #333; // Bordas sutis
$title-primary:#244484;
$background-light: #f0f0f0; 
$background-color-light: #f5f5f5;


// Espaçamentos
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Bordas e sombras
$border-radius: 10px;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

// Breakpoints para responsividade
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
